@model IEnumerable<Inclusion.Models.Doador>

<div class="doadores m-4">
  @foreach (var item in Model)
  {
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nome: @Html.DisplayFor(modelItem => item.nomeDoador)
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Email: @Html.DisplayFor(modelItem => item.email)
        </h6>
        <p class="card-text">Telefone: @Html.DisplayFor(modelItem => item.telefone)</p>
        <p class="card-text">Endereço: @Html.DisplayFor(modelItem => item.endereco) - @Html.DisplayFor(modelItem =>
        item.estado)</p>
        <a class="card-link links" asp-action="Edit" asp-route-id="@item.id">
          <img src="~/assets/pencil-square.svg" alt="Editar">
        </a>
        <a class="card-link links" asp-action="Delete" asp-route-id="@item.id">
          <img src="~/assets/trash.svg" alt="Excluir">
        </a>
      </div>
    </div>
  }
</div>