@model IEnumerable<Inclusion.Models.Ong>

@{
  var verificarOngs = false;
}

<div class="ongs-amigas">
  <h1 class="text-center">Ongs Amigas</h1>
  <div class="card-container">
    @foreach (var item in Model)
    {
      verificarOngs = true;

      <div class="card text-left cartao">
        <div class="card-body">
          <h5 class="card-title">Nome da ong: @Html.DisplayFor(modelItem => item.nomeOng)</h5>
          <h6 class="card-subtitle mb-2 text-muted">Email: @Html.DisplayFor(modelItem => item.email)
          </h6>
          <h6 class="card-text">Telefone: @Html.DisplayFor(modelItem => item.telefone)</h6>
          <p class="card-text">Endereço: @Html.DisplayFor(modelItem => item.endereco) - @Html.DisplayFor(modelItem =>
          item.estado)</p>

          <a class="card-link links" asp-action="Edit" asp-route-id="@item.id">
            <img src="~/assets/pencil-square.svg" alt="Editar">
          </a>
          <a class="card-link links" asp-action="Delete" asp-route-id="@item.id">
            <img src="~/assets/trash.svg" alt="Excluir">
          </a>
        </div>
      </div>
    }
    @if (!verificarOngs)
    {
      <p>Nenhuma ONG foi cadastrada,
        <a asp-area="" asp-controller="Ong" asp-action="Create">cadastre uma ong</a>
      </p>
    }
  </div>
</div>
