@model IEnumerable<Inclusion.Models.Equipamento>

<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Equipamentos</h2>
      <p>Aqui estão nossos equipamentos para doações</p>
    </div>

    <ul id="portfolio-flters" class="d-flex justify-content-center">
      <li data-filter="*" class="filter-active">Todos</li>
      <li data-filter=".filter-visual">Visual</li>
      <li data-filter=".filter-auditivo">Auditivo</li>
      <li data-filter=".filter-motor">Motor</li>
      <li data-filter=".filter-cognitivo">Cognitivo</li>
      <li data-filter=".filter-neurologico">Neurológico</li>
      <li data-filter=".filter-new">Recentes</li>
    </ul>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-motor">
        <div class="portfolio-img"><img src="~/assets/portfolio/cadeirarodas.jpeg" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Cadeira de Rodas</h4>
          <p>Auxilia na locomoção</p>
          <a href="~/assets/portfolio/cadeirarodas.jpeg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Cadeira de Rodas"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-auditivo">
        <div class="portfolio-img"><img src="~/assets/portfolio/aparelhoauditivo.jpeg" class="img-fluid" alt="">
        </div>
        <div class="portfolio-info">
          <h4>Aparelho Auditivo</h4>
          <p>Auxilia na escuta</p>
          <a href="~/assets/portfolio/aparelhoauditivo.jpeg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Aparelho Auditivo"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-motor">
        <div class="portfolio-img"><img src="~/assets/portfolio/cadeiraparabanho.jpeg" class="img-fluid" alt="">
        </div>
        <div class="portfolio-info">
          <h4>Cadeira para banheiro</h4>
          <p>Cadeira de Rodas para banheiro</p>
          <a href="~/assets/portfolio/cadeiraparabanho.jpeg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Cadeira para banho"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-visual">
        <div class="portfolio-img"><img src="~/assets/portfolio/lupa.jpeg" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Lupa</h4>
          <p>Para auxiliar na leitura</p>
          <a href="~/assets/portfolio/lupa.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"
            title="Lupa"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-motor">
        <div class="portfolio-img"><img src="~/assets/portfolio/alçadepegar.jpeg" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Alça de Pegar</h4>
          <p>Para auxiliar a locomoção de objetos</p>
          <a href="~/assets/portfolio/alçadepegar.jpeg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Alça Auxiliadora"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-motor">
        <div class="portfolio-img"><img src="~/assets/portfolio/cintodetransferir.jpg.jpeg" class="img-fluid" alt="">
        </div>
        <div class="portfolio-info">
          <h4>Cinto Locomoção</h4>
          <p>Auxilia na transferência de um lugar a outro</p>
          <a href="~/assets/portfolio/cintodetransferir.jpeg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Cinto Locomoção"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-motor">
        <div class="portfolio-img"><img src="~/assets/portfolio/portfolio-1.jpg.jpg" class="img-fluid" alt="">
        </div>
        <div class="portfolio-info">
          <h4>Andajar</h4>
          <p>Equipamento para ajudar a caminhar</p>
          <a href="~/assets/portfolio/portfolio-1.jpeg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Andajar"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-motor">
        <div class="portfolio-img"><img src="~/assets/portfolio/moleta.jpg" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Moleta</h4>
          <p>Auxilia na locomoção</p>
          <a href="~/assets/portfolio/moleta.jpeg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Moleta"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img"><img src="~/assets/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>Web 3</h4>
          <p>Web</p>
          <a href="~/assets/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
            class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
          <a href="#" class="details-link" title="Garanta já"><i class="bx bx-link"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-new">
        @foreach (var item in Model)
        {
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Equipamento: @Html.DisplayFor(modelItem => item.nomeEquipamento)
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">Estado: @Html.DisplayFor(modelItem => item.descricao)
              </h6>
              <p class="card-text">Doador: <a asp-area="" asp-controller="Doador"
                asp-action="Index">@Html.DisplayFor(modelItem => item.doador.nomeDoador)</a></p>
              <a class="card-link links" asp-action="Edit" asp-route-id="@item.id">
                <img src="~/assets/pencil-square.svg" alt="Editar">
              </a>
              <a class="card-link links" asp-action="Delete" asp-route-id="@item.id">
                <img src="~/assets/trash.svg" alt="Excluir">
              </a>
            </div>
          </div>
        }
          <p>
            <a asp-area="" asp-controller="Equipamento" asp-action="Create">Cadastre um equipamento</a>
          </p>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->


<script src="~/lib/vendor/aos/aos.js"></script>
<script src="~/lib/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/vendor/glightbox/js/glightbox.min.js"></script>
<script src="~/lib/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="~/lib/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/lib/vendor/waypoints/noframework.waypoints.js"></script>
<script src="~/lib/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/js/main.js"></script>